.capa
{
position:absolute;
background-color:#633bbc;
height:1348px;
width:1920px;
padding:0px;
}
#boracodar
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:160px;
font-family:Roboto Condensed;
line-height:180px;
border-style:hidden;
outline:none;
left:240px;
top:160px;
position:absolute;
width:749px;
}
.desafio17-umdatepicker
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:80px;
font-family:Roboto;
left:240px;
top:356px;
width:982px;
height:94px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.imagemdoprojeto
{
background-color:#f5f5f5;
height:900px;
width:1440px;
border-radius:32px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:absolute;
top:503px;
left:240px;
}
.frame11
{
height:642px;
width:1112px;
align-self:flex-start;
left:164px;
top:96px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:80px;
}
.datepicker2
{
background-color:#ffffff;
height:642px;
width:516px;
filter:drop-shadow(0px 12px 48px rgba(0,0,0,0.1599999964237213));
border-radius:24px;
padding:48px;
display:flex;
flex-direction:column;
gap:36px;
position:absolute;
}
.monthselector
{
height:36px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:flex-start;
position:absolute;
left:48px;
top:48px;
}
.navigationbutton
{
height:36px;
width:36px;
border-radius:12px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.ellipse
{
height:6px;
width:6px;
left:15px;
top:15px;
position:absolute;
border-radius:50%;
}
.material-symbols:chevron-left-rounded
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector
{
background-color:#666666;
height:16.725000381469727px;
width:9.825000762939453px;
width:9.825000762939453px;
height:16.725000381469727px;
left:12.637481689453125px;
top:9.637500762939453px;
position:absolute;
}
.month2
{
height:36px;
width:149px;
align-self:flex-start;
left:135.5px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.abril2023
{
color:rgba(0, 0, 0, 0.800000011920929);
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:36px;
border-style:hidden;
outline:none;
width:113px;
align-self:center;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.material-symbols:arrow-drop-down-rounded
{
background-color:#ffffff;
height:36px;
width:36px;
align-self:flex-start;
left:113px;
top:0px;
position:absolute;
padding:0px;
}
.vector2
{
background-color:rgba(0, 0, 0, 0.800000011920929);
height:6.90000057220459px;
width:10.81848430633545px;
width:10.81848430633545px;
height:6.90000057220459px;
left:12.59px;
top:15px;
width:10.81848430633545px;
height:6.90000057220459px;
position:absolute;
}
.navigationbutton2
{
height:36px;
width:36px;
align-self:flex-start;
left:384px;
top:0px;
position:absolute;
border-radius:12px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.ellipse2
{
height:6px;
width:6px;
top:15px;
left:15px;
position:absolute;
border-radius:50%;
}
.material-symbols:chevron-right-rounded
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector3
{
background-color:#666666;
height:16.725000381469727px;
width:9.825023651123047px;
width:9.825023651123047px;
height:16.725000381469727px;
left:12.637504577636719px;
top:9.637500762939453px;
position:absolute;
}
.calendar
{
height:474px;
width:420px;
padding:0px;
display:flex;
flex-direction:column;
gap:6px;
left:48px;
top:120px;
position:relative;
}
.weeklabels
{
height:48px;
width:420px;
border-radius:6px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.daynumber
{
height:48px;
width:60px;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
position:absolute;
}
.dom
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
left:9.5px;
top:12px;
position:absolute;
width:41px;
}
.daynumber2
{
height:48px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.seg
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:13px;
top:12px;
width:34px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.daynumber3
{
height:48px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.ter4
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:15.5px;
top:12px;
width:29px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.daynumber4
{
height:48px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.qua
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:12.5px;
top:12px;
width:35px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.daynumber5
{
height:48px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.qui
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:15px;
top:12px;
width:30px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.daynumber6
{
height:48px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.sex
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:13.5px;
top:12px;
width:33px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.daynumber7
{
height:48px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:6px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
}
.sáb
{
color:rgba(0, 0, 0, 0.6000000238418579);
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:13px;
top:12px;
width:34px;
height:24px;
position:absolute;
letter-spacing:8px;
line-height:24px;
border-style:hidden;
outline:none;
}
.monthdays
{
height:420px;
width:420px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
top:54px;
position:relative;
}
.weekrow
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.calendarday
{
height:60px;
width:60px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:16px;
top:18px;
position:absolute;
width:28px;
}
.calendarday2
{
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content2
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday3
{
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content3
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday4
{
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content4
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday5
{
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content5
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday6
{
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content6
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday7
{
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content7
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.weekrow2
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
top:18px;
left:0px;
}
.calendarday8
{
height:60px;
width:60px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content8
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:23px;
top:18px;
position:absolute;
width:14px;
}
.calendarday9
{
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content9
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday10
{
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content10
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday11
{
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content11
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday12
{
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content12
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday13
{
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content13
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday14
{
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content14
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.weekrow3
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
top:90px;
left:0px;
}
.calendarday15
{
height:60px;
width:60px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content15
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:23px;
top:18px;
position:absolute;
width:14px;
}
.calendarday16
{
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content16
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday17
{
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content17
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday18
{
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content18
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday19
{
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content19
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday20
{
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content20
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday21
{
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content21
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.weekrow4
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
top:162px;
left:0px;
}
.calendarday22
{
height:60px;
width:60px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content22
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:16px;
top:18px;
position:absolute;
width:28px;
}
.calendarday23
{
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content23
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday24
{
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content24
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday25
{
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content25
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday26
{
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content26
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday27
{
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content27
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday28
{
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content28
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.weekrow5
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
top:234px;
left:0px;
}
.calendarday29
{
height:60px;
width:60px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content29
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:16px;
top:18px;
position:absolute;
width:28px;
}
.calendarday30
{
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content30
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday31
{
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content31
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday32
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:12px 0px 0px 12px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content32
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
}
.currentdateindicator
{
background-color:#ffffff;
height:6px;
width:6px;
top:45px;
left:27px;
position:absolute;
border-radius:50%;
}
.calendarday33
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content33
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday34
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content34
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday35
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content35
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:16px;
top:18px;
width:28px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.weekrow6
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
top:306px;
left:0px;
}
.calendarday36
{
background-color:#6200ee;
height:60px;
width:60px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content36
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:16px;
top:18px;
position:absolute;
width:28px;
}
.calendarday37
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:60px;
top:0px;
position:absolute;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content37
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday38
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:120px;
top:0px;
position:absolute;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content38
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday39
{
background-color:#6200ee;
height:60px;
width:60px;
align-self:flex-start;
left:180px;
top:0px;
position:absolute;
border-radius:0px 12px 12px 0px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content39
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday40
{
height:60px;
width:60px;
align-self:flex-start;
left:240px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content40
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday41
{
height:60px;
width:60px;
align-self:flex-start;
left:300px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content41
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday42
{
height:60px;
width:60px;
align-self:flex-start;
left:360px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content42
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:23px;
top:18px;
width:14px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.monthpicker
{
background-color:#ffffff;
height:480px;
width:516px;
filter:drop-shadow(0px 12px 48px rgba(0,0,0,0.1599999964237213));
align-self:flex-start;
left:596px;
top:0px;
position:absolute;
border-radius:24px;
padding:48px;
display:flex;
flex-direction:column;
gap:36px;
}
.yearselector
{
height:36px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:flex-start;
position:absolute;
top:48px;
left:48px;
}
.navigationbutton3
{
height:36px;
width:36px;
border-radius:12px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.ellipse3
{
height:6px;
width:6px;
left:15px;
top:15px;
position:absolute;
border-radius:50%;
}
.material-symbols:chevron-left-rounded2
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector4
{
background-color:#666666;
height:16.725000381469727px;
width:9.825000762939453px;
width:9.825000762939453px;
height:16.725000381469727px;
left:12.637504577636719px;
top:9.637500762939453px;
position:absolute;
}
.333
{
color:rgba(0, 0, 0, 0.800000011920929);
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
align-self:flex-start;
left:182px;
top:0px;
position:absolute;
line-height:36px;
border-style:hidden;
outline:none;
width:56px;
display:flex;
}
.navigationbutton4
{
height:36px;
width:36px;
align-self:flex-start;
left:384px;
top:0px;
position:absolute;
border-radius:12px;
padding:0px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.ellipse4
{
height:6px;
width:6px;
top:15px;
left:15px;
position:absolute;
border-radius:50%;
}
.material-symbols:chevron-right-rounded2
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
}
.vector5
{
background-color:#666666;
height:16.725000381469727px;
width:9.825023651123047px;
width:9.825023651123047px;
height:16.725000381469727px;
left:12.637481689453125px;
top:9.637500762939453px;
position:absolute;
}
.year2
{
height:312px;
width:420px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
left:48px;
top:120px;
position:relative;
}
.monthsrow
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:25.5px;
position:relative;
}
.calendarday43
{
height:60px;
width:123px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content43
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:44px;
top:18px;
position:absolute;
width:35px;
}
.calendarday44
{
height:60px;
width:123px;
align-self:flex-start;
left:148.5px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content44
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:42.5px;
top:18px;
width:38px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday45
{
height:60px;
width:123px;
align-self:flex-start;
left:297px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content45
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:40px;
top:18px;
width:43px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.monthsrow2
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:25.5px;
position:absolute;
top:84px;
left:0px;
}
.calendarday46
{
background-color:#6200ee;
height:60px;
width:123px;
border-radius:12px;
padding:12px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content46
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Lato;
line-height:16px;
border-style:hidden;
outline:none;
left:41.5px;
top:18px;
position:absolute;
width:40px;
}
.currentdateindicator2
{
background-color:#ffffff;
height:6px;
width:6px;
top:45px;
left:58.99px;
position:absolute;
border-radius:50%;
}
.calendarday47
{
height:60px;
width:123px;
align-self:flex-start;
left:148.5px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content47
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:41.5px;
top:18px;
width:40px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday48
{
height:60px;
width:123px;
align-self:flex-start;
left:297px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content48
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:43px;
top:18px;
width:37px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.monthsrow3
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:25.5px;
position:absolute;
top:168px;
left:0px;
}
.calendarday49
{
height:60px;
width:123px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content49
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:47px;
top:18px;
position:absolute;
width:29px;
}
.calendarday50
{
height:60px;
width:123px;
align-self:flex-start;
left:148.5px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content50
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:40px;
top:18px;
width:43px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday51
{
height:60px;
width:123px;
align-self:flex-start;
left:297px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content51
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:44px;
top:18px;
width:35px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.monthsrow4
{
height:60px;
width:420px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:25.5px;
position:absolute;
top:252px;
left:0px;
}
.calendarday52
{
height:60px;
width:123px;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
position:absolute;
}
.content52
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
line-height:24px;
border-style:hidden;
outline:none;
left:40.5px;
top:18px;
position:absolute;
width:42px;
}
.calendarday53
{
height:60px;
width:123px;
align-self:flex-start;
left:148.5px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content53
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:39.5px;
top:18px;
width:44px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
.calendarday54
{
height:60px;
width:123px;
align-self:flex-start;
left:297px;
top:0px;
position:absolute;
border-radius:12px;
padding:18px;
display:flex;
flex-direction:column;
gap:12px;
border-style:hidden;
outline:none;
}
.content54
{
color:#666666;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Lato;
left:40.5px;
top:18px;
width:42px;
height:24px;
position:absolute;
line-height:24px;
border-style:hidden;
outline:none;
}
